body {
  padding: 3px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  background-color: #F1F1F1;
  padding: 5px;
  text-align: center;
}

.column-container {
  display: table;
  width: 100%;
}

.column {
  display: table-cell;
  float: left;
  /*background-color: #F1F1F1;*/
  /*max-height: 150px;*/
}

.column.logo {
  width: 6%;
  /*vertical-align: middle;*/
  /*horiz-align: center;*/
}

.column.logo img {
  display: block;
  margin: auto;
}

.column.title {
  text-align: center;
  width: 50%;
}

.column.title h1 {
  font-size: 35px;
  padding: 0px;
  margin: 0px;
}


.column.time {
  float: right;
  font-size: 30px;
  width: 30%;
}

/*.row:after {*/
  /*display: table;*/
  /*clear: both;*/
/*}*/

.footer {
  position: fixed;
  background: red;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}